body{
    background-image: url("bg-image.svg");

    background-size:cover;
    display : grid;
    grid-template-columns: 235px auto 235px;
}
.head{
    width: 500px;
    height : auto;
    grid-column: 2 /3;
    justify-self: center;

}

h1{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size:4rem;
    color:#F8FAFC;
    text-align: center;

}
h2{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-size:2rem;
    color:#F8FAFC;
    text-align: center;
}

.form{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;

    justify-content: center;
    justify-self: center;
    background: rgba(255, 255, 255, .2);
    border-radius : 20px;
    width: 600px;
    height : 520px;
    grid-column: 2 /3;

}
.fill{
    border-radius : 15px;
    padding: 0px;
    margin:10px 10px;
    width: 255px;
    height : 50px;
}
#message{
    width: 530px;
    height : 150px;
}
label {
    color: #CDD5E0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    font-size:0.875rem;
    display: block;
  }
label:after { content: ": " }

input::placeholder {
    color: #CDD5E0;
    opacity: 1;
    padding : 10px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size:1rem;
  }

button{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-size:1.25rem;
    color:#4036A9;
    text-align: center;
    width: 530px;
    height : 60px;
    border-radius : 10px;
    margin:10px 10px;
    
}
textarea{
    color: red;
    opacity: 1;
    padding : 150px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-size:1rem;
}
select{
    color: #111729;
    opacity: 1;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size:1rem;
}